

<!doctype html>

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="A project interface for CA4106, cloud computing module" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/main.css') }}" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/alert.css') }}" />

  <title>CA4106</title>
</head>
    <body>
    
        <body>
          {% for message in get_flashed_messages()%}
          <div id="alertmessage" class = "alert alert-warning">
            {{ message }}
            <button type="button" class = "close" onClick="closeFlash();">x</button> 
          </div>
          {% endfor %}
          <div class="text_body">
                <legend class="header">Image Upload</legend>
                <button class="script_button"> <a href="/my-link/">Click me</a></button>
          <footer>
            <p>
              <small>
                Licensed under <a href="LICENSE.txt">the GNU APGL v3.0</a>.
              </small>
            </p>
          </footer>
        </div>
        <script>  
          function closeFlash(){  
              document.all.alertmessage.style.display='none';
              return false;  
          }  
      </script>

</body>

